body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: gray;
    padding: 2rem 4rem;
    text-align: center;
    width: 100%;
    height: 100vh;
}

h1 {
    margin: 2rem;
}

form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin: 2rem;
    justify-content: center;
}

form p {
    grid-column: 1 / span 2;
}

form input {
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 0.5rem;
}

form button {
    background-color: aquamarine;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

form button:hover {
    background-color: aqua;
}

li {
    list-style: none;
    margin: 1rem;
    padding: 1rem;
}

li span {
    margin: 1rem;
}

li.completed {
    border: 1px solid aquamarine;
}

li button {
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    margin-right: 1rem;
}

.completeButton {
    background-color: green;
}

.completeButton:hover {
    background-color: darkgreen;
}

.deleteButton {
    background-color: #d9534f;
}

.deleteButton:hover {
    background: #c9302c;
}